
  
  .flip-card-inner {

    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;   
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
   
  }
  
  .flip-card-front {    
    color: black;
    left:4px;
  }
  
  .flip-card-back {
    color: white;
    background-color: white;
    transform: rotateY(180deg);
    font-size: 18px;
    display: flex; 

    
    text-align: center;
    border-radius: 50%;
    height: 67px;
    width:67px;
    position: absolute;
    right: 0.5px;
    top:0px;
  }