body {
    margin: auto;
    align-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
header{
    min-height: 100px;
    width:80%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
hr
{
    width:40%;
}

footer{

    position: absolute;
    bottom: 100vw;
    margin: auto;   
    min-height: calc(10vh - 100px);
    width:100%;
    font-size: 16px;
}
.footer{   
    background-image: url("../images/banner-header.png");
    border-top: 5px inset #a0a0a0 !important;
}
.footer-active{
    background-image: url("../images/banner-header.png");
    border-top: 5px inset rgb(77, 148, 255) !important;
}
.footer-menu
{
    margin-left: 173px;
}
#powered-by-row-container
{
    padding:10px;
}

#powered-by-row-container img
{
    padding:10px;
}

.container {

  position: relative;
  overflow: hidden;
  display: flex;
  /*justify-content: center;*/
  /* min-height: 800px; */
  /* background-image: linear-gradient(to bottom, rgba(255, 168, 76, 0.6) 0%, rgba(255, 123, 13, 0.6) 100%), url("https://images.unsplash.com/photo-1446824505046-e43605ffb17f"); */
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center center;
  padding: 2rem;
  flex-direction: column;
}
.main-menu{
    margin-bottom: -3px;
    margin-left: 20px;
    width: 90%;
    max-height: 30px !important;
    min-height: 30px !important;
    min-width: 130px !important;
}
#tagline{position:absolute; top : 20; left: 230; min-width:90px;}
.menu-item:hover{
    background-color: #4a4a4a;
    color: white;
    border-top-right-radius: 7%;
    border-top-left-radius: 7%;
    height: 38px;
    margin-bottom: 3px;
}
.active{
    background-color:#3D71BF !important;
    color: white;
    border-radius: 7%;
}

.menu-item{
    font-size: 24px;
    width:8.1vmax;
    text-align: center;
    align-self: flex-end;
    cursor: pointer;
    min-width:80px;
    height:41px;
}

.banner{
    background-image: url("../images/banner-header.png");
    resize: vertical;
    border-bottom: 5px inset #4a4a4a !important;
    min-width:630px;
}
.banner-active{
    background-image: url("../images/banner-header.png");
    resize: vertical;
    border-bottom: 5px inset #3D71BF !important;
    min-width:630px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

 .title{
    font-size:64px;
    text-align: start;
    margin-left:2%;
    padding-top:5px;
    width:150px;
    cursor: pointer;
}

.title:hover{    
    transform: rotate(7deg);
}

.aws-console-logo
{
    transition: transform .2s; /* Animation */
    object-fit: none;
    object-position: 10px -91px;
    position: absolute;
    top: 35px;
    right: 114px;   
}
.aws-console-logo:hover
{
    transform: scale(1.2);
}
.git-logo
{
    transition: transform .2s; /* Animation */
    position: absolute;
    top: 60px;
    right: 108px;
}
.git-logo:hover
{
    transform: scale(1.2);
}
#profile
{
    cursor: pointer;
    border-radius: 7px;
    height: 85px;
    width:80px;
    background-color: rgb(74, 74, 74);
    position: absolute;
    right: 20px;
    top:8px;
    box-shadow: 5px 0 8px #888888;
}
#profile-pic-container-status{
    text-align: center;
    border-radius: 50%;
    height: 67px;
    width:67px;
    background-color: red;
    position: absolute;
    right: 8px;
    top:9px;
}
.profile-pic-container
{
    text-align: center;
    border-radius: 50%;
    height: 69px;
    width:69px;
    background-color: #b3b3b3;
    position: absolute;
    right: 5.5px;
    top:9px;
}
#profile-pic
{
    color: white;
    margin-top:3.7px;
    font-size: 12px;
}
#profile-status-label{ 
    
    font-size: 15px !important; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
   
    margin:auto;
    
}
.green-text
{       
    color:rgb(19, 146, 19) !important;
}
.red-text
{
    
    color:rgb(235, 38, 38) !important;
}
.orange-text
{
    color:rgb(230, 146, 50) !important;
}
.grey-text
{
    color:rgb(121, 121, 121) !important;
}
.green-bg
{    
    background-color: limegreen !important;
}
.red-bg
{
    background-color:rgb(235, 38, 38) !important;
}
.orange-bg
{
    background-color:rgb(230, 146, 50) !important;
}
.grey-bg
{
    background-color:rgb(121, 121, 121) !important;
}
.green-bdr
{    border: 1px ridge limegreen !important;
}
.red-bdr
{
    border: 1px ridge rgb(235, 38, 38) !important;
}
.orange-bdr
{
    border: 1px ridge rgb(230, 146, 50) !important;
}
.grey-bdr
{
    border: 1px ridge rgb(121, 121, 121) !important;
}

#profile-satus-icon
{
    height: 20px;
    width: 20px;
   border-radius: 50% !important;
  z-index:999;
  position: absolute;
  background-color: #4a4a4a;
  border: #4a4a4a 2px solid;
  right: 0px;
  top: 47px;
}
.offline-status
{
    height: 10px;
    width: 10px;
    background-color: grey;
   border-radius: 50% !important;
}
.idle-status
{
    height: 10px;
    width: 10px;
    background-color: rgb(205, 125, 50);
   border-radius: 50% !important;
}
.section{ display: flex; padding-bottom: 35px;}
.section-image{min-width:25%}
.section-content{ align-self: center;}