header{
    background-image: url("https://s3.amazonaws.com/brianfiedler.me/images/banner-header.png");

} 
body {
    margin: auto;
    font-family: 'Fugaz One', cursive;
    font-size: 18px;
    background-color: lightslategrey;
}
hr{
    width:75%;
}
.viewport{ 
    margin:auto;
    width:60%;
}
.image-example {
    text-align: center;
}
#main-content{
    border-left: solid black 2px;
    border-right: solid black 2px;
    background-color: darkkhaki;
}
.container {

    position: relative;
    overflow: hidden;
 
    align-items: center;
    justify-content: center;
    min-height: 20rem;
    /* background-image: linear-gradient(to bottom, rgba(255, 168, 76, 0.6) 0%, rgba(255, 123, 13, 0.6) 100%), url("https://images.unsplash.com/photo-1446824505046-e43605ffb17f"); */
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;

  }


  
.flex-container-inline {
    display: inline-flex;   
    flex-direction: row;
  }


.flex-container {
    display: flex;    
  }
  
.main-menu{
    margin-bottom: -3px;
    margin-left: 20px;
    width: 90%;
    max-height: 30px !important;
    min-height: 30px !important;
    min-width: 130px !important;
}
#tagline{position:absolute; top : 20; left: 230; min-width:90px;}
.menu-item:hover{
    background-color: #4a4a4a;
    color: white;
    border-top-right-radius: 7%;
    border-top-left-radius: 7%;
    height: 38px;
    margin-bottom: 3px;
}
.active{
    background-color:#3D71BF !important;
    color: white;
    border-radius: 7%;
}

.menu-item{
    font-size: 24px;
    width:8.1vmax;
    text-align: center;
    align-self: flex-end;
    cursor: pointer;
    min-width:80px;
    height:41px;
}
.title{
    padding-left: 20px;
    align-self: center;
}

.banner{
    background-image: url("https://s3.amazonaws.com/brianfiedler.me/images/playground_banner.png");
    resize: vertical;
    border-bottom: 5px inset #4a4a4a !important;
    min-width:630px;
}
.home-section{
}
.home-section h1 {
    text-align: center;
}
.opening-section{
    min-height: 450px;
    display: flex;
    align-items: center;
    padding-left:20%;
    padding-right:20%;
}

.opening-section h2 {
    text-align:  center;
}
.bombs-section{
    min-height: 200px;
  
    padding:5px;
    align-items: center;
    justify-content: space-evenly;
}
.bombs-section img{
}
.bombs-section p{
    width:30%; 
 
}